body {
  background-color: whitesmoke;
  margin: 0; 
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 90vw;
  height: 100px; 
  padding: 10px;
  display: flex;
}

nav {
display: flex;
justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
}

li {
  width: 100px;
}

a:link {
  text-decoration: none;
  word-wrap: none;
  color: black;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

hr {
  width: 100vw;
  height: 2px;
  border-style: none;
  background-color: lightgray;
}

.main-heading {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 0 30px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: lightgray 3px;
  border-style: none none solid none;
  width: 90vw;
}

.main {
margin: 0;
width: 100vw;
flex-direction: column;
justify-content: center;
}

.sub-heading {
  /*padding-left: 20px;*/ 
  width: 85vw;
  align-items: center;
}

.recipe-container {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 90vw;
}


.recipe-cards {
  display: flex;
  flex-direction: column; 
  text-align: left;
  
  padding: 10px;
  background-color: white;
  width: 100%;
  margin: 10px;
  border: 3px solid lightgray;
  border-radius: 2%;
}

.recipe-img {
width: 30%;
}

.recipe-card-bottom-info {
  border: 2px lightgray;
  border-style: dashed none none none;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 2px 0 0 0;

}
.label {
  font-weight:900px;
}
p {
  margin: 3px;
}
.footer {
  background-color: whitesmoke;
  padding: 10px;
  margin: 30px 0px 0px 0px;
  text-align: center;
  width: 90vw;
}

/* MEDIA QUERIES*/

/* TABLET */
@media (min-width: 768px) {

  .logo {
    margin: 20px;
    font-size: 40px;
  }

  .main-heading {
    font-size: 50px;
    padding: 10px 0 30px 0;
    margin: 60px 10% 30px 10%;
  }

  .sub-heading {
    margin-left: 10%;
  }

  .recipe-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .recipe-cards {
    width: 40%;
  }

  .header {
    justify-content: space-between;
  }
  
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer {
    margin-top: 40px;
  }

}

/* DESKTOP */
@media (min-width: 992px) {

.logo {
  font-size: 50px;
}

.main-heading {
  font-size: 80px;
}

.sub-heading {
  margin-left: 15%;
}
  
.recipe-container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.recipe-cards {
  width: 25%;
}

}