body {
  background-color: whitesmoke;
  margin: 0; 
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 95vw;
  height: 100px; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
display: flex;
align-items: center;
justify-content: center;
width: 60%;
}

input {
  height: 40px;
  border-radius: 8px;
  border: solid 1px lightslategray;
  margin: 0 0 10px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  padding: 10px;
}

li {
  width: 100px;
}

a:link {
  text-decoration: none;
  word-wrap: none;
  color: black;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.filter-bar {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.label-time-filter {
  font-size: 20px;
}

.select-field {
  height: 40px;
  width: 100px;
  border: 1px solid lightslategray;
  border-radius: 8%;
  font-weight: bold;
}

.option-value {
  font-size: 20px;
}

hr {
  
  height: 2px;
  border-style: none;
  background-color: lightgray;
}

.main-heading {
  font-weight: bold;
  font-size: 20px;
  border: lightgray 3px;
  border-style: none none solid none;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 10px;
  font-size: 40px;
}

.main {
margin: 0;
width: 100vw;
flex-direction: column;
justify-content: center;
}

.search-recipies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;
    padding-left: 10%;
}

.sub-heading {
  padding-left: 15px;
  align-items: center;
}

.recipe-container {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 90vw;
}


.recipe-cards {
  display: flex;
  flex-direction: column; 
  text-align: left;
  
  padding: 10px;
  background-color: white;
  width: 100%;
  margin: 10px;
  border: 3px solid lightgray;
  border-radius: 2%;
}

.recipe-img {
width: 30%;
}

.recipe-card-bottom-info {
  border: 2px lightgray;
  border-style: dashed none none none;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 2px 0 0 0;

}
.label {
  font-weight:900px;
}
p {
  margin: 3px;
}
.footer {
  background-color: whitesmoke;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 90vw;
  position: fixed;
  bottom: 0;
}

/* MEDIA QUERIES*/

/* TABLET */
@media (min-width: 768px) {

  .logo {
    margin: 20px;
    font-size: 40px;
  }

  .main-heading {
    font-size: 40px;
    margin: auto;
    width: 80%;
  }

  h1 {
    padding: 10px;
    font-size: 50px;
  }

  .filter-bar {
    display: flex; 
    font-size: 30px;
  }
  .sub-heading {
    font-size: 40px;
  }

  .label-time-filter {
    font-size: 3d0px;
    padding-right: 10px;
  }

  .search-recipies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .recipe-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .recipe-cards {
    width: 40%;
  }

  .header {
    justify-content: space-between;
  }
  

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    }

  ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer {
    margin-top: 40px;
  }

}

/* DESKTOP */
@media (min-width: 992px) {

.logo {
  font-size: 50px;
}

.main-heading {
  font-size: 80px;
}

.sub-heading {
}
  
.recipe-container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.recipe-cards {
  width: 25%;
}

}